# System & Editor files
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Python Cache & Builds
__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
*.egg-info/

# Virtual Environment
venv/
.venv/
env/
ENV/
.env

# Database
*.db
*.sqlite3
instance/
database/*.db

# Application Specific (Media & Temps)
static/uploads/*
!static/uploads/.gitkeep
static/faces/*
!static/faces/.gitkeep
faces/
scratch/
Unishield-clean/
logs/
*.log
